DB_HOST=wheelio-db.cxiysoa26mk6.ca-central-1.rds.amazonaws.com
DB_PORT=5432
DB_NAME=wheelio
DB_USERNAME=your-username
DB_PASSWORD=your-password
SERVER_PORT=8080
SPRING_PROFILES_ACTIVE=dev
STRIPE_SECRET_KEY=sk_test_your_key_here
MAIL_HOST=localhost
MAIL_PORT=1025
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_SMTP_AUTH=false
MAIL_SMTP_STARTTLS=false
EMAIL_2FA_FROM=no-reply@wheelio.local
EMAIL_2FA_EXPIRATION_MINUTES=10
